:root {
    --color-fundo: #000;
    --color-texto: #eee;
}

body {
    background-color: var(--color-fundo);
    color: var(--color-texto);
    font-size: 12px;
    overflow: hidden;
}

header {
    width: 80%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    margin: auto;
}

header a {
    color: var(--color-texto);
    margin-right: 40px;
    font-weight: 300;
}

.container {
    position: relative;
    height: 100vh;
    width: 100vw;
    margin-top: -50px;
    overflow: hidden;
}

.container .list .list-item{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}


.container .list .list-item img {
   position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    object-fit: cover;
    filter: brightness(50%);
    z-index: 1;
}

.container .list .list-item .content {
    position: absolute;
    top: 20%;
    right: 10%;
    padding-right: 30%;
    width: 80%;
    color: var(--color-texto);
    text-shadow: 0 5px 10px #0004;
    z-index: 2;
}

.container .list .list-item .title {
    font-size: 5em;
    font-weight: 700;
    line-height: 1.3em;
}

.container .list .list-item .description {
    font-size: 1.5em;
}

.container .list .list-item .buttons {
   display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    margin-top: 20px;
    gap: 5px;
}

.container .list .list-item .buttons button {
    border: none;
    background-color: var(--color-texto);
    letter-spacing: 3px;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
}

.container .list .list-item .buttons button:hover {
    background-color: transparent;
    color: var(--color-texto);
    border: 1px solid var(--color-texto);
    transition: 0.7s;
}

.container .list .list-item .buttons button:nth-child(2){
    background-color: transparent;
    border: 1px solid var(--color-texto);
    color: var(--color-texto);
}

.container .list .list-item .buttons button:nth-child(2):hover {
    background-color: var(--color-texto);
    color: var(--color-fundo);
}

.container .thumb{
    position: absolute;
    bottom: 30px;
    left: 50%;
    display: flex;
    gap: 20px;
    transform:translateX(-50px);
}

.container .thumb,
.container .arrows {
    position: absolute;
    z-index: 3;
}

.container .thumb .thumb-item {
    width: 135px;
    height: 200px;
    position: relative;
    z-index: 3;
}

.container .thumb .thumb-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(80%);
}

.container .thumb .content {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.container .arrows {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 100px;
    left: 300px;
    transform: translateY(-50%);
}

.container .arrows button {
    border-radius: 10px;
    border: none;
    padding: 12px 17px ;
    background-color: #eee4;
    color: var(--color-texto);
    cursor: pointer;
    font-weight: 700;
    font-size: 1.5em;
}

.container .arrows button:hover {
    background-color: var(--color-texto);
    color: var(--color-fundo);
    transition: 0.7s;
}


.container.next .thumb {
    animation: effectNextThumb 0.5s linear 1 forwards;
}

@keyframes effectNextThumb{
    from {
        transform: translateX(150px);
    }
}

.container.next .thumb .thumb-item:nth-last-child(1) {
    animation: effectLastThumb 0.5s linear 1 forwards;
}

@keyframes effectLastThumb {
    from {
        width: 0;
        opacity: 0;
    }
}

.container .list .list-item:nth-child(1) .content .title, 
.container .list .list-item:nth-child(1) .content .description,
.container .list .list-item:nth-child(1) .content .buttons {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 1s linear 1  forwards; 
}

@keyframes showContent {
    to {
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;

    }
}

.container .list .list-item:nth-child(1) .content .title {
    animation-delay: 1.2s;
}

.container .list .list-item:nth-child(1) .content .description {
    animation-delay: 1.6s;
}

.container .list .list-item:nth-child(1) .content .buttons {
    animation-delay: 2s;
}


.container.next .list .list-item:nth-child(1) img {
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showMainImage 0.5s linear 1 forwards;
}

@keyframes showMainImage {
    to {
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.container.back .list .list-item:nth-child(1) img {
    position: absolute;
    bottom: 0;
    left: 0;
    animation: hideMainImage 0.5s linear 1 forwards;
    z-index: 2;
}

@keyframes hideMainImage {
    to {
        width: 150px;
        height: 200px;
        border-radius: 10px;
        left: 50%;
        bottom: 50px;
    }
}